autofs:
  lookup:
    nfs:
      - key: /mnt/nfs
        file: /etc/auto.nfs
        options: --timeout 60
        map:
          - mount: meda
            options: -fstype=nfs,vers=3,rw,soft,intr,rsize=8192,wsize=8192,noexec,nosuid,tcp
            location: 192.168.0.101:/share/media
          - mount: app
            options: -fstype=nfs4,ver4,rw,soft
            location: 192.168.0.105:/share/app
      - key: /mnt/exports
        file: /etc/auto.exports
        options: --timeout 30
        map:
          - mount: test
            options: -fstype=nfs,vers=3,rw,soft,intr,rsize=8192,wsize=8192,noexec,nosuid,tcp
            location: 192.168.0.101:/share/test
          - mount: test2
            options: -fstype=nfs4,ver4,rw,soft
            location: 192.168.0.105:/share/test2

