{%- from 'autofs/map.jinja' import autofs with context -%}
# Managed By Salt

+dir:/etc/auto.master.d
+auto.master

{%- for key, value in autofs.iteritems() %}
  {%- for map in value %}
{{ map.key }} {{ map.file }} {%- if 'options' in map %} {{ map.options }} {%- endif %}
  {%- endfor %}
{%- endfor %}

